* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background: #000000;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #eeeeee;
  pointer-events: auto;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.tickets-section {
  position: relative;
  height: 16.389vw;
  margin-top: 6.944vw;
}

h2 {
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 6vw;
  font-weight: 500;
  color: #eeeeee;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.tickets-section h2 {
  margin-left: 10vw;
  line-height: 1;
  position: absolute;
}

.tickets-section h3 {
  position: absolute;
  top: 8vw;
  left: 10.2vw;
}

.form-container {
  position: absolute;
  top: 15vw;
  left: 10vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 1.5vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 2vw;
}

.form-row {
  display: flex;
  gap: 4vw;
}

.form-input,
.form-select {
  background-color: rgba(102, 102, 102, 0.8);
  border: none;
  border-radius: 0.6vw;
  color: #eeeeee;
  font-size: 2vw;
  padding: 0 1.3vw;
  height: 4vw;
}

.form-input:hover,
.form-select:hover {
  background: #444;
}

.form-input {
  width: 18vw;
}

.form-input::placeholder {
  color: #999;
}

.form-select {
  width: 40vw;
  appearance: none;
}

.categories-section {
  margin: 38vw 0 0 10vw;
}

.categories-section h2 {
  margin-bottom: 2vw;
}

.category-row {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;
  width: 41vw;
}

.category-name {
  width: 17vw;
  line-height: 1.3;
}

.category-price {
  width: 7vw;
  text-align: right;
  margin-right: 5vw;
}

.category-controls {
  display: flex;
  align-items: center;
}

.control-button {
  width: 2vw;
  height: 2vw;
  border: 2px solid #eeeeee;
  border-radius: 20%;
  color: #eeeeee;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
}

.control-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.category-count {
  font-size: 1.3vw;
  margin: 0 0.69vw;
  width: 2vw;
  text-align: center;
}

.checkbox-container {
  margin-top: 2vw;
  display: flex;
  align-items: center;
}

.checkbox-container input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 2.5vw;
  height: 2.5vw;
  border: 2px solid #eeeeee;
  border-radius: 20%;
  color: #eeeeee;
  margin-right: 0.69vw;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
}

.checkbox-container input[type='checkbox']:checked {
  background-color: #eeeeee;
}

/* Секция Оплата */
.payment-section {
  margin: 12vw 0 0vw 10vw;
}

.payment-section h2 {
  margin-bottom: 2vw;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 44vw;
  height: 16vw;
  margin-bottom: 5vw;
  margin-top: 5vw;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 1.5vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 2vw;
}

.payment-input {
  background-color: rgba(102, 102, 102, 0.8);
  border: none;
  border-radius: 0.6vw;
  color: #eeeeee;
  font-size: 2vw;
  padding: 0 1.3vw;
  height: 4vw;
}

.payment-input:hover {
  background: #444;
}

.payment-input::placeholder {
  color: #999;
}

.payment-row {
  display: flex;
  gap: 4vw;
}

.payment-row .payment-input {
  width: 18vw;
}

.payment-button {
  background: #666;
  border: none;
  border-radius: 0.694vw;
  color: #eeeeee;
  font-size: 1.5vw;
  height: 4vw;
  cursor: pointer;
  width: 25vw;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  margin-left: 9vw;
}

.payment-button:hover {
  background: #777;
}

footer {
  margin-top: 5vw;
  width: 100%;
  height: 10vw;
  background-color: #a9a9a9;
  z-index: 1;
}

.footer-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 3vw;
  box-sizing: border-box;
}

.footer-button {
  width: 17.5vw;
  height: 3.39vw;
  border: none;
  cursor: pointer;
  background: #8c8c8c;
  color: #eeeeee;
  border-radius: 999px;
  margin-right: 7.8vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footertext {
  margin-left: 2vw;
}

.footer-buttons > *:last-child {
  margin-right: 0;
}

.with-arrow {
  justify-content: space-between;
  padding-right: 1.51vw;
}

.link-arrow2 {
  margin-left: 3vw;
  font-size: 1.04vw;
  color: #eeeeee;
  transition: transform 0.3s ease;
}

.footer-button:hover {
  background-color: #6a6a6a;
  transform: translateY(-0.2vw);
}

.footer-button.with-arrow:hover .link-arrow2 {
  transform: translateX(0.3vw);
}
