html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  position: relative;
}

.screen {
  position: relative;
  width: 100%;
  min-height: 105vh;
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
}

.gallery img {
  display: block;
  max-width: 100%;
  transition: none;
}

.row,
.img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eeeeee;
  pointer-events: auto;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
}

.img {
  width: calc(150 / 206 * (20vh));
  height: 20vh;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- Ряд 1 --- */
.row:nth-child(1) {
  top: calc(173 / 1080 * 100vh);
  left: calc(651 / 1920 * 100vw);
}

.row:nth-child(1) .img:nth-child(2) {
  margin-left: calc(830 / 1920 * 100vw);
}

/* --- Ряд 2 --- */
.row:nth-child(2) {
  top: calc(326 / 1080 * 100vh);
  left: calc(160 / 1920 * 100vw);
}

.row:nth-child(2) .img:nth-child(2) {
  margin-left: calc(695 / 1920 * 100vw);
}

.row:nth-child(2) .img:nth-child(3) {
  margin-left: calc(273 / 1920 * 100vw);
}

/* --- Ряд 3 --- */
.row:nth-child(3) {
  top: calc(586 / 1080 * 100vh);
  left: calc(430 / 1920 * 100vw);
}

.row:nth-child(3) .img:nth-child(2) {
  margin-left: calc(558 / 1920 * 100vw);
}

/* --- Ряд 4 --- */
.row:nth-child(4) {
  top: calc(731 / 1080 * 100vh);
  left: calc(160 / 1920 * 100vw);
}

.row:nth-child(4) .img:nth-child(2) {
  margin-left: calc(505 / 1920 * 100vw);
}

.row:nth-child(4) .img:nth-child(3) {
  margin-left: calc(686 / 1920 * 100vw);
}

/* --- Ряд 5 --- */
.row:nth-child(5) {
  top: calc(894 / 1080 * 100vh);
  left: calc(471 / 1920 * 100vw);
}

.row:nth-child(5) .img:nth-child(2) {
  margin-left: calc(731 / 1920 * 100vw);
}

@media (max-width: 1440px) {
  .img {
    width: calc(108 / 155 * (15vh));
    height: 15vh;
  }

  .row:nth-child(2) {
    top: calc(326 / 1080 * 100vh);
    left: calc(160 / 1440 * 100vw);
  }

  .row:nth-child(4) {
    top: calc(731 / 1080 * 100vh);
    left: calc(160 / 1440 * 100vw);
  }

  .row:nth-child(4) .img:nth-child(3) {
    margin-left: calc(486 / 1440 * 100vw);
  }
}

@media (max-width: 1280px) {
  .img {
    width: calc(96 / 137 * (15vh));
    height: 15vh;
  }
  .row:nth-child(2) {
    top: calc(326 / 1080 * 100vh);
    left: calc(160 / 1280 * 100vw);
  }

  .row:nth-child(2) .img:nth-child(2) {
    margin-left: calc(375 / 1280 * 100vw);
  }

  .row:nth-child(2) .img:nth-child(3) {
    margin-left: calc(173 / 1280 * 100vw);
  }

  .row:nth-child(3) {
    top: calc(586 / 1080 * 100vh);
    left: calc(320 / 1280 * 100vw);
  }

  .row:nth-child(3) .img:nth-child(2) {
    margin-left: calc(350 / 1280 * 100vw);
  }

  .row:nth-child(4) {
    top: calc(731 / 1080 * 100vh);
    left: calc(160 / 1280 * 100vw);
  }

  .row:nth-child(4) .img:nth-child(2) {
    margin-left: calc(280 / 1280 * 100vw);
  }

  .row:nth-child(4) .img:nth-child(3) {
    margin-left: calc(457 / 1280 * 100vw);
  }

  .row:nth-child(5) {
    top: calc(894 / 1080 * 100vh);
    left: calc(350 / 1280 * 100vw);
  }

  .row:nth-child(5) .img:nth-child(2) {
    margin-left: calc(467 / 1280 * 100vw);
  }
}

@media (max-width: 1024px) {
  .img {
    width: calc(77 / 111 * (16vh));
    height: 16vh;
  }
  .row:nth-child(1) {
    top: calc(173 / 1080 * 100vh);
    left: calc(348 / 1024 * 100vw);
  }

  .row:nth-child(1) .img:nth-child(2) {
    margin-left: calc(370 / 1024 * 100vw);
  }

  .row:nth-child(2) {
    top: calc(326 / 1080 * 100vh);
    left: calc(160 / 1024 * 100vw);
  }

  .row:nth-child(2) .img:nth-child(2) {
    margin-left: calc(272 / 1024 * 100vw);
  }

  .row:nth-child(2) .img:nth-child(3) {
    margin-left: calc(100 / 1024 * 100vw);
  }

  .row:nth-child(3) {
    top: calc(586 / 1080 * 100vh);
    left: calc(300 / 1024 * 100vw);
  }

  .row:nth-child(3) .img:nth-child(2) {
    margin-left: calc(200 / 1024 * 100vw);
  }

  .row:nth-child(4) {
    top: calc(731 / 1080 * 100vh);
    left: calc(160 / 1024 * 100vw);
  }

  .row:nth-child(4) .img:nth-child(2) {
    margin-left: calc(200 / 1024 * 100vw);
  }

  .row:nth-child(4) .img:nth-child(3) {
    margin-left: calc(298 / 1024 * 100vw);
  }

  .row:nth-child(5) {
    top: calc(894 / 1080 * 100vh);
    left: calc(320 / 1024 * 100vw);
  }

  .row:nth-child(5) .img:nth-child(2) {
    margin-left: calc(281 / 1024 * 100vw);
  }
}

@media (max-width: 768px) {
  .first_screen {
    min-height: 450vh;
  }

  .img {
    width: calc(337 / 768 * 100vw);
    height: calc(476 / 768 * 100vw);
  }

  /* Ряд 1 */
  .row:nth-child(1) {
    top: calc(170 / 768 * 100vw);
    left: calc(36 / 768 * 100vw);
  }

  .row:nth-child(1) .img:nth-child(2) {
    margin-left: calc(10 / 768 * 100vw);
  }

  /* Ряд 2 */
  .row:nth-child(2) {
    top: calc(677 / 768 * 100vw);
    left: calc(36 / 768 * 100vw);
  }

  .row:nth-child(2) .img:nth-child(2) {
    margin-left: calc(22 / 768 * 100vw);
  }

  /* Ряд 3 */
  .row:nth-child(3) {
    top: calc(1184 / 768 * 100vw);
    left: calc(36 / 768 * 100vw);
  }

  .row:nth-child(3) .img:nth-child(2) {
    margin-left: calc(22 / 768 * 100vw);
  }

  /* Ряд 4 */
  .row:nth-child(4) {
    top: calc(1691 / 768 * 100vw);
    left: calc(36 / 768 * 100vw);
  }

  .row:nth-child(4) .img:nth-child(2) {
    margin-left: calc(22 / 768 * 100vw);
  }

  /* Ряд 5 */
  .row:nth-child(5) {
    top: calc(2198 / 768 * 100vw);
    left: calc(36 / 768 * 100vw);
  }

  .row:nth-child(5) .img:nth-child(2) {
    margin-left: calc(22 / 768 * 100vw);
  }

  /* Ряд 6 */
  .row:nth-child(6) {
    top: calc(2705 / 768 * 100vw);
    left: calc(36 / 768 * 100vw);
  }

  .row:nth-child(6) .img:nth-child(2) {
    margin-left: calc(22 / 768 * 100vw);
  }
}

@media (max-width: 450px) {
  .img {
    width: calc(160 / 450 * 100vw);
    height: calc(240 / 450 * 100vw);
  }
  /* Ряд 1 */
  .row:nth-child(1) {
    top: calc(170 / 450 * 100vw);
    left: calc(36 / 450 * 100vw);
  }

  .row:nth-child(1) .img:nth-child(2) {
    margin-left: calc(36 / 450 * 100vw);
  }

  /* Ряд 2 */
  .row:nth-child(2) {
    top: calc(677 / 450 * 100vw);
    left: calc(36 / 450 * 100vw);
  }

  .row:nth-child(2) .img:nth-child(2) {
    margin-left: calc(22 / 450 * 100vw);
  }

  /* Ряд 3 */
  .row:nth-child(3) {
    top: calc(1184 / 450 * 100vw);
    left: calc(36 / 450 * 100vw);
  }

  .row:nth-child(3) .img:nth-child(2) {
    margin-left: calc(22 / 450 * 100vw);
  }

  /* Ряд 4 */
  .row:nth-child(4) {
    top: calc(1691 / 450 * 100vw);
    left: calc(36 / 450 * 100vw);
  }

  .row:nth-child(4) .img:nth-child(2) {
    margin-left: calc(22 / 450 * 100vw);
  }

  /* Ряд 5 */
  .row:nth-child(5) {
    top: calc(2198 / 450 * 100vw);
    left: calc(36 / 450 * 100vw);
  }

  .row:nth-child(5) .img:nth-child(2) {
    margin-left: calc(22 / 450 * 100vw);
  }

  /* Ряд 6 */
  .row:nth-child(6) {
    top: calc(2705 / 450 * 100vw);
    left: calc(36 / 450 * 100vw);
  }

  .row:nth-child(6) .img:nth-child(2) {
    margin-left: calc(22 / 450 * 100vw);
  }
}

/* Стили для активного изображения */
.img img.active {
  position: fixed;
  z-index: 200;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: zoom-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.footer {
  margin-top: 5vw;
  width: 100%;
  height: 10vw;
  background-color: #a9a9a9;
}

.footer-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 3vw;
  box-sizing: border-box;
}

.footer-button {
  width: 17.5vw;
  height: 3.39vw;
  border: none;
  cursor: pointer;
  background: #8c8c8c;
  color: #eeeeee;
  border-radius: 999px;
  margin-right: 7.8vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footertext {
  margin-left: 2vw;
}

.footer-buttons > *:last-child {
  margin-right: 0;
}

.with-arrow {
  justify-content: space-between;
  padding-right: 1.51vw;
}

.link-arrow2 {
  margin-left: 3vw;
  font-size: 1.04vw;
  color: #eeeeee;
  transition: transform 0.3s ease;
}

.footer-button:hover {
  background-color: #6a6a6a;
  transform: translateY(-0.2vw);
}

.footer-button.with-arrow:hover .link-arrow2 {
  transform: translateX(0.3vw);
}
