html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  position: relative;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h2 {
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 6vw;
  font-weight: 550;
  color: #eeeeee;
  letter-spacing: 0.2vw;
  line-height: normal;
}

.teaser_screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.teasertext {
  margin-top: 15vw;
  margin-left: 9vw;
}

.text-line {
  opacity: 0;
  transform: translateY(30px) rotateX(-15deg);
  transform-origin: bottom center;
  perspective: 800px;
  display: inline-block;
}

.second-screen {
  position: relative;
  width: 100vw;
  height: 120vh;
  overflow: hidden;
}

.text-box {
  position: absolute;
  left: 9vw;
  top: 42vw;
  width: 20vw;
}

.text-box h3 {
  font-size: 2vw;
  margin-bottom: 1.04vw;
}

.headcontainer {
  position: absolute;
  left: 17vw;
  top: 6.5vw;
  width: 69vw;
  height: 53vw;
}

.headcontainer img {
  width: 95%;
  height: 92%;
  display: block;
}

.point-container {
  position: absolute;
  z-index: 2;
}

.point {
  width: 0.73vw;
  height: 0.73vw;
  background-color: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.point-container:hover .tooltip {
  opacity: 1;
}

.tooltip .line {
  width: 0.2vw;
  background-color: #eeeeee;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='1'] .tooltip {
  bottom: 22vw;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='1'] .tooltip .line {
  height: 22vw;
  top: 1.5vw;
}

.point-container[data-point='1'] .tooltip h4 {
  margin-bottom: 0.5vw;
  margin-left: 3vw;
}

.point-container[data-point='2'] .tooltip {
  top: 24vw;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='2'] .tooltip .line {
  height: 24vw;
  top: -24vw;
}

.point-container[data-point='2'] .tooltip h4 {
  margin-top: 0.5vw;
  margin-left: 3vw;
}

.point-container[data-point='3'] .tooltip {
  bottom: 22vw;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='3'] .tooltip .line {
  height: 22vw;
  top: 1.5vw;
}

.point-container[data-point='3'] .tooltip h4 {
  margin-bottom: 0.5vw;
  margin-left: 4vw;
}

.point-container[data-point='4'] .tooltip {
  bottom: 13.5vw;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='4'] .tooltip .line {
  height: 13vw;
  top: 1.5vw;
}

.point-container[data-point='4'] .tooltip h4 {
  margin-top: -1vw;
  margin-left: 7vw;
}

.point-container[data-point='5'] .tooltip {
  bottom: 8vw;
  left: 45%;
  transform: translateX(-50%);
}

.point-container[data-point='5'] .tooltip .line {
  height: 8vw;
  top: 1.5vw;
}

.point-container[data-point='5'] .tooltip h4 {
  margin-bottom: 0.5vw;
  margin-left: 7vw;
}

.point-container[data-point='6'] .tooltip {
  top: 17vw;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='6'] .tooltip .line {
  height: 17vw;
  top: -17vw;
}

.point-container[data-point='6'] .tooltip h4 {
  margin-top: 0.5vw;
  margin-left: 5vw;
}

.point-container[data-point='7'] .tooltip {
  top: 8.5vw;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='7'] .tooltip .line {
  height: 8.5vw;
  top: -8.5vw;
}

.point-container[data-point='7'] .tooltip h4 {
  margin-top: 0.5vw;
  margin-left: 6vw;
}

.point-container[data-point='8'] .tooltip {
  top: 14vw;
  left: 50%;
  transform: translateX(-50%);
}

.point-container[data-point='8'] .tooltip .line {
  height: 14vw;
  top: -14vw;
}

.point-container[data-point='8'] .tooltip h4 {
  margin-top: 0.5vw;
  margin-left: 3vw;
}

.third_screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.third_screen .row {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.third_screen img {
  width: 12vw;
  height: auto;
}

.third_screen h4 {
  margin-top: 1vw;
}

/* Позиционирование каждого ряда */
.third_screen .row:nth-child(1) {
  left: 19vw;
  top: 2vw;
}

.third_screen .row:nth-child(2) {
  left: 42vw;
  top: 7vw;
}

.third_screen .row:nth-child(3) {
  left: 65vw;
  top: 12vw;
}

.third_screen .row:nth-child(4) {
  left: 25vw;
  top: 27vw;
}

.third_screen .row:nth-child(5) {
  left: 48vw;
  top: 30vw;
}

.fourth_screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fourcontainer {
  margin-top: 60vw;
  width: 70vw;
  height: 90vw;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  animation: round 12s infinite;
  opacity: 0;
  width: 100%;
  animation-name: round;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

@keyframes round {
  0% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 2s;
}
.slide:nth-child(3) {
  animation-delay: 4s;
}
.slide:nth-child(4) {
  animation-delay: 6s;
}
.slide:nth-child(5) {
  animation-delay: 8s;
}
.slide:nth-child(6) {
  animation-delay: 10s;
}
.slide:nth-child(7) {
  animation-delay: 12s;
}

@media (max-width: 1440px) {
  .logoim {
    width: 60px;
    height: 60px;
  }

  .menu-toggle {
    width: 60px;
    height: 60px;
  }

  .hamburger {
    width: 20px;
    height: 20px;
  }

  .line {
    height: 4px;
  }
}

@media (max-width: 1280px) {
  .logoim {
    width: 50px;
    height: 50px;
  }

  .menu-toggle {
    width: 50px;
    height: 50px;
  }

  .hamburger {
    width: 20px;
    height: 20px;
  }

  .line {
    height: 4px;
  }
}

@media (max-width: 1024px) {
  .logoim {
    width: 37px;
    height: 37px;
  }

  .menu-toggle {
    width: 37px;
    height: 37px;
  }

  .hamburger {
    width: 20px;
    height: 20px;
  }

  .line {
    height: 4px;
  }
}

@media (max-width: 768px) {
  .logoim {
    width: 70px;
    height: 70px;
  }

  .menu-toggle {
    width: 70px;
    height: 70px;
  }

  .hamburger {
    width: 30px;
    height: 20px;
  }

  .line {
    height: 4px;
  }

  .teaser_screen {
    min-height: 110vh;
  }

  h2 {
    font-size: 6.7vw;
  }

  .teasertext {
    margin-top: 35vw;
    margin-left: 5vw;
  }

  .text-box {
    left: 5vw;
    top: 90vw;
    width: 50vw;
  }

  .text-box h3 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  h4 {
    font-size: 2vw;
  }

  .headcontainer {
    left: 5vw;
    top: 10vw;
    width: 95vw;
    height: 80vw;
  }

  .point {
    width: 2vw;
    height: 2vw;
  }

  .tooltip .line {
    width: 0.3vw;
  }

  .point-container[data-point='1'] .point {
    margin-top: 11vw;
    margin-left: 1vw;
  }

  .point-container[data-point='1'] .tooltip {
    bottom: 38vw;
    left: 65%;
  }

  .point-container[data-point='1'] .tooltip .line {
    height: 36vw;
    top: 3vw;
  }

  .point-container[data-point='1'] .tooltip h4 {
    margin-left: 5vw;
  }

  .point-container[data-point='2'] .point {
    margin-top: 11vw;
    margin-left: 4vw;
  }

  .point-container[data-point='2'] .tooltip {
    top: 52vw;
    left: 83%;
  }

  .point-container[data-point='2'] .tooltip .line {
    height: 40vw;
    top: -40vw;
  }

  .point-container[data-point='2'] .tooltip h4 {
    margin-left: 5vw;
  }

  .point-container[data-point='3'] .point {
    margin-top: 12vw;
    margin-left: 6vw;
  }

  .point-container[data-point='3'] .tooltip {
    bottom: 38.5vw;
    left: 87%;
  }

  .point-container[data-point='3'] .tooltip .line {
    height: 38vw;
    top: 2.5vw;
  }

  .point-container[data-point='3'] .tooltip h4 {
    margin-left: 7vw;
  }

  .point-container[data-point='4'] .point {
    margin-top: 6vw;
    margin-left: 10.5vw;
  }

  .point-container[data-point='4'] .tooltip {
    bottom: 23vw;
    left: 92%;
  }

  .point-container[data-point='4'] .tooltip .line {
    height: 22vw;
    top: 3.5vw;
  }

  .point-container[data-point='4'] .tooltip h4 {
    margin-top: -1vw;
    margin-left: 11.5vw;
  }

  .point-container[data-point='5'] .point {
    margin-top: 4vw;
    margin-left: 14vw;
  }

  .point-container[data-point='5'] .tooltip {
    bottom: 16.5vw;
    left: 93%;
  }

  .point-container[data-point='5'] .tooltip .line {
    height: 16vw;
    top: 2.5vw;
  }

  .point-container[data-point='5'] .tooltip h4 {
    margin-left: 15vw;
  }

  .point-container[data-point='6'] .point {
    margin-top: 13vw;
    margin-left: 14vw;
  }

  .point-container[data-point='6'] .tooltip {
    top: 45vw;
    left: 94%;
  }

  .point-container[data-point='6'] .tooltip .line {
    height: 30vw;
    top: -30vw;
  }

  .point-container[data-point='6'] .tooltip h4 {
    margin-left: 8vw;
  }

  .point-container[data-point='7'] .point {
    margin-top: 18vw;
    margin-left: 19vw;
  }

  .point-container[data-point='7'] .tooltip {
    top: 36.5vw;
    left: 95.5%;
  }

  .point-container[data-point='7'] .tooltip .line {
    height: 18vw;
    top: -18vw;
  }

  .point-container[data-point='7'] .tooltip h4 {
    margin-left: 10vw;
  }

  .point-container[data-point='8'] .point {
    margin-top: 16vw;
    margin-left: 21vw;
  }

  .point-container[data-point='8'] .tooltip {
    top: 42vw;
    left: 95.5%;
  }

  .point-container[data-point='8'] .tooltip .line {
    height: 24vw;
    top: -24vw;
  }

  .point-container[data-point='8'] .tooltip h4 {
    margin-left: 4vw;
  }

  .third_screen {
    height: 150vh;
  }

  .third_screen img {
    width: 26vw;
    height: auto;
  }

  .third_screen h4 {
    margin-top: 3vw;
  }

  /* Позиционирование каждого ряда */
  .third_screen .row:nth-child(1) {
    left: 5vw;
    top: 12vw;
  }

  .third_screen .row:nth-child(2) {
    left: 56vw;
    top: 24vw;
  }

  .third_screen .row:nth-child(3) {
    left: 63vw;
    top: 85vw;
  }

  .third_screen .row:nth-child(4) {
    left: 18vw;
    top: 72vw;
  }

  .third_screen .row:nth-child(5) {
    left: 25vw;
    top: 130vw;
  }

  .fourcontainer {
    margin-top: 75vw;
    width: 85vw;
  }

  footer {
    margin-top: 10vw;
    width: 100%;
    height: 40vw;
  }

  .footer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    box-sizing: border-box;
  }

  .footer-button {
    width: 43vw;
    height: 8vw;
    border-radius: 999px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 0;
  }

  .footertext {
    margin-left: 2vw;
    font-size: 3vw;
  }

  .with-arrow {
    justify-content: space-between;
  }

  .link-arrow2 {
    margin-right: 2vw;
    font-size: 7.65vw;
    transition: transform 0.3s ease;
  }

  .footer-button:hover {
    background-color: #6a6a6a;
    transform: translateY(-0.15vw);
  }

  .footer-button.with-arrow:hover .link-arrow2 {
    transform: translateX(0.22vw);
  }

  .footer-buttons > *:nth-child(1) {
    margin-right: 8vw;
    margin-top: 6vw;
  }

  .footer-buttons > *:nth-child(2) {
    margin-right: 0vw;
    margin-top: 6%;
  }

  .footer-buttons > *:nth-child(3) {
    margin-left: 0vw;
    margin-top: 0vw;
  }

  .footer-buttons > *:nth-child(4) {
    margin-right: 0vw;
    margin-top: 0vw;
  }
}

@media (max-width: 450px) {
  .logoim {
    width: 40px;
    height: 40px;
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
  }

  .hamburger {
    width: 20px;
    height: 20px;
  }

  .line {
    height: 3px;
    width: 90%;
    margin-left: 0.2vw;
  }

  .site-header {
    padding: 20px 20px;
  }

  h2 {
    font-size: 6vw;
  }

  .teaser_screen {
    min-height: 100vh;
  }

  .teasertext {
    margin-top: 50vw;
    margin-left: 9vw;
  }

  .second-screen {
    height: 120vh;
  }

  .headcontainer {
    left: 3vw;
    top: 10vw;
    width: 95vw;
    height: 80vw;
  }

  .headcontainer img {
    width: 98%;
    height: 95%;
    display: block;
  }

  .text-box {
    left: 5vw;
    top: 110vw;
    width: 50vw;
  }

  .text-box h3 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  h4 {
    font-size: 2.2vw;
  }

  .tooltip .line {
    width: 0.4vw;
  }

  .point-container[data-point='1'] .tooltip {
    bottom: 38vw;
    left: 60%;
  }

  .point-container[data-point='1'] .tooltip h4 {
    margin-left: 6vw;
  }

  .point-container[data-point='2'] .tooltip {
    top: 52vw;
    left: 80%;
  }

  .point-container[data-point='2'] .tooltip h4 {
    margin-left: 6vw;
  }

  .point-container[data-point='3'] .tooltip h4 {
    margin-bottom: 0.5vw;
    margin-left: 8vw;
  }

  .point-container[data-point='4'] .tooltip h4 {
    margin-top: -1vw;
    margin-left: 12.5vw;
  }

  .point-container[data-point='5'] .tooltip h4 {
    margin-bottom: 0.5vw;
    margin-left: 18.5vw;
  }

  .point-container[data-point='6'] .tooltip h4 {
    margin-top: 0.5vw;
    margin-left: 9vw;
  }

  .point-container[data-point='7'] .tooltip h4 {
    margin-top: 0.5vw;
    margin-left: 11vw;
  }

  .point-container[data-point='8'] .tooltip h4 {
    margin-top: 0.5vw;
    margin-left: 5vw;
  }

  .third_screen {
    height: 110vh;
  }

  .fourth_screen {
    height: 90vh;
  }
}
